<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/tailwind.js"></script>
</head>
<body>
    <div class="container mx-auto p-4">
        <div class="grid grid-cols-12 gap-4">
            <div class="flex flex-col gap-4 col-span-3">
                <h4 class="text-2xl text-center">Host lists</h4>
                <div class="flex flex-col gap-2 w-full" id="host-list"></div>
            </div>
            <div class="flex flex-col gap-4 col-span-9">
                <h4 class="text-2xl text-center">Host details</h4>
                <!-- ips -->
                <div class="flex flex-col gap-2">
                    <h5 class="text-xl">IPs</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Interface</th>
                                <th>IP</th>
                                <th>Status</th>
                                <th>Protocol</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody id="ip-list"></tbody>
                    </table>
                    <div id="edit-ip"></div>
                </div>

                <!-- vlans -->
                <div class="flex flex-col gap-2">
                    <h5 class="text-xl">VLANs</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>VLAN ID</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Interface</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody id="vlan-list"></tbody>
                    </table>
                    <div id="edit-vlan"></div>
                </div>

                <!-- routes -->
                <div class="flex flex-col gap-2">
                    <h5 class="text-xl">Routes</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Network</th>
                                <th>Nexthop/Interface</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody id="route-list"></tbody>
                    </table>
                    <div id="edit-route"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>